# DATABASE
DATABASE_URL="postgresql://user:password@localhost:5432/mydb"

# API AUTH
JWT_SECRET=""
NEXT_PUBLIC_AUTH_USERNAME=""
NEXT_PUBLIC_AUTH_PASSWORD=""

# AZURE
AZURE_AD_CLIENT_ID=""
AZURE_AD_CLIENT_SECRET=""
AZURE_AD_TENANT_ID=""
NEXTAUTH_URL=""

# PATH
PUBLIC_STORAGE_PATH="/storage"
STORAGE_PATH="D:\Storage\itb-fleet-mng"